/* Senta.css */
.senta {
  position: absolute;
  width: 100px;
  height: 100px;
  transition: left 4s ease, top 4s ease; /* Adjust the duration for even slower movement */
}

.senta img {
  width: 100%;
  height: 100%;
}

.senta.left {
  transform: scaleX(-1);
}
