
.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://png.pngtree.com/background/20210715/original/pngtree-gift-santa-claus-christmas-tree-creative-colorful-lights-border-background-picture-image_1275354.jpg'); /* Path to your background image */
  background-size: cover;
  background-position: center;
}
